@import "ui-variables";

.git-log2 {
  overflow-y: auto;

  .github-RecentCommit {
    cursor: pointer;
  }

  .github-CommitDetailView-metaText {
    flex: 0.5;
  }

  .github-RecentCommit-avatar {
    margin-right: 10px;
    width: 32px;
    height: 32px;
  }

  .github-CommitDetailView-title {
    flex: 3;
  }

  .gitlog2-hash:hover {
    text-decoration: underline;
  }
}
